<div class="container__big-card">
    <div class="big-card__image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/800px-Placeholder_view_vector.svg.png" 
            alt=""
            height="250px"
            
        >
    </div>
    <div class="big-card__title">
        <h1>Nova versão do Angular!</h1>
    </div>
    <div class="big-card__description">
        <p>A versão 19 do angular conta com várias novidades...</p>
    </div>
</div>
