<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            Id="1"
            cardImage="https://m.media-amazon.com/images/M/MV5BNDBiMzMyMWItNDFkYy00MjBmLTk2ZDAtYmE2N2U4YzFlZDRmXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
            cardTitle="Novo episódio de Hunter X Hunter"
            cardDescription="Lançamento do novo episódio de Hunter X Hunter está previsto para o dia 25 de maio"
        >
            
        </app-big-card>
    </div>
    <div class="articles__secondary">
        <app-small-card
            Id="2"
            cardImage="https://dimensaosete.com.br/static/40ca036275c1f7777955d570dc73c82d/2493a/hunter-x-hunter.webp"
            cardTitle="Que comecem os jogos!"
        >
        </app-small-card>
       
        <app-small-card
            Id="3"
            cardImage="https://image.api.playstation.com/vulcan/ap/rnd/202406/2503/b8670654b27e519d757396ff8f314b6add207e5cf3314881.png"
            cardTitle="Primeiro jogo de luta Hunter x Hunter"
        >
        </app-small-card>

    <app-small-card
        Id="4"
        cardImage="https://a-static.mlcdn.com.br/1500x1500/hunter-x-hunter-manga-volume-1-ao-37-colecao-completa-em-portugues-jbc/storieotaku/mhxhkit-1a36/b0615b335dc8395117380f63b829803b.jpeg"
        cardTitle="Coleção completa do mangá. 37 volumes!"
    >
    </app-small-card>
        

    </div>
</div>
